# === 1.Python이 자동 생성하는 캐시 파일 ===
# 실행 속도 향상을 위한 임시 파일. Git에 포함할 필요 없음.
__pycache__/
*.py[cod]
*.pyo
*.pyd

#=== 2. 가상횐경 폴더 ===
# poetry로 생성되는 가상환경 폴더. 개인환경에 따라 달라지므로 공유 대상 아님.
.vscode/

# === 3. VSCode 설정 폴더 ===
# 개인 개발 환경 설정 파일. 프로젝트와 직접 관련 없음.
.vscode/

# === 4. 환경변수 파일 ===
# 비밀번호, API 키 등 민감 정보가 포함 될 수도 있음. Git에 포함하면 보안 위험 있음.
.env
.env.*

# === 5. 운영체제에서 자동 생성되는 불필요한 파일 ===
# Mac과 Windows에서 자동 생성됨. 프로젝트와 무관함.
.DS_Store
Thumds.db

# ===6. 테스트 도구 실행 결과 파일 ===
# 테스트 실행중 생성되는 임시 파일. 결과 확인 외에 용도 없음.
*.log
*.cover
.coverage
.cache/
himlcov/

# === 7.pip 설치 로그 파일 ===